@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Open+Sans:wght@300;400&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
  font-size: 10px;
  color: rgb(0, 0, 0);
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: rgb(98, 130, 199);
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 20px 0;
  height: 10vh;
  min-height: 150px;
}

.back {
  float: left;
  width: 0px;
}

.header img{
  margin: auto 0;
  width: 60px;
  height: 90px;
}

h1 {
  font-size: 3rem;
  display: inline-block;
  margin: auto 50px;
}


.imagenCentral {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.imagenCentral img {
  width: 50vw;
  height: 30vh;
}

.subtitulo {
  background-color: gray;
}

.fa {
  color: #add8e6;
}

.subtitulo a,
.subtitulo p {
  text-decoration: none;
  color: lightblue;
  font-size: 1.8rem;
  margin: 0 2vw;
}

.subtitulo a:hover {
  text-decoration: underline;
}

.elementosPortada{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 6vh;
}

.elementosPortada img{
  width: 15vw;
  height: 28vw;
  margin: auto;
}

#textoPortada {
  font-size: 1.4rem;
  margin-top: 20px;
}

.parrafo {
  display: flex;
  margin: 1.5vh 5vw 1.5vh 2vw;
  font-size: 1.3rem;
}

.parrafo1 img {
  width: 30vw;
  height: 15vh;
  margin-top: 1vh;
  margin-right: 2vw;
}

.parrafo4 {
  display: initial;
  margin: 0 auto;
  font-weight: bold;
  font-style: italic;
}

.imagenAlumnos img {
  width: 80vw;
  height: 25vh;
}

.obras{
  display: flex;
}

.listaObras{
  position: fixed;
  font-size: 2.2rem;
  list-style-type: none;
  padding-left: 25vw;
}

.listaObras li{
  margin: 10vh 0;
}

.listaObras li a {
  text-decoration: none;
  color: rgb(98, 130, 199);
}

.listaObras li a:hover{
  background-color: lightgray;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  text-decoration: underline;
}

h2{
  font-size: 2.5rem;
}

.parrafosObra{
  font-size: 1.2rem;
  margin: 0 5vw;
}

.parrafosObra p{
  text-align: justify;
}

.parrafosObra img{
  width: 30vw;
  height: 20vh;
}

.parrafosObra ul{
  padding-left: 0;
  text-align: justify;
  margin-top: 2vh;
}

.parrafosObra li{
  margin-top: 1vh;
  margin-left: 3vw;
}

.parrafosObra .orillasSarImg{
  margin-top: 5vh;
  width: 40vw;
  height: 20vh;
}

.enlaces{
  text-align: left;
  font-size: 1.4rem;
  margin: 5vh 5vw;
}

.enlaces a{
  color: blue;
}

#hamb{
  position: relative;
}

#hamb aside{
  position: relative;
}

#hamb.hamburger-menu {
  color:white;         
  background-color: rgb(98, 130, 199);    
}

#hamb.hamburger-menu aside ul li.current >span,
#hamb.hamburger-menu aside ul li.current >a,
#hamb.hamburger-menu aside ul li >span:hover,
#hamb.hamburger-menu aside ul li >a:hover {
 color: white;              
 background-color: rgb(98, 130, 199);  
 }


 .obras #hamb.hamburger-menu {
  height: 70vh; 
}

.mainCantares, .mainFollas, .mainSar{
  display: flex;
}

main {
  display: inline-block;
  width: 100vw;
  height: fit-content;
  margin-bottom: 30px;
  height: 65vh;
}

footer {
  background-color: black;
  width: 100vw;
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

footer div {
  margin: auto 0;
}

footer a {
  text-decoration: none;
  color: lightblue;
}

footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.grid-center p:first-child{
  color: lightblue;
  text-decoration: underline;
  font-weight: bold;
}

.grid-right img{
  width: 50px;
  height: 80px;
}

@media screen and (min-width: 1000px) {

  .header {
    height: 15vh;
    min-height: 300px;
  }

  .header img{
    margin: auto 0;
    width: initial;
    height: initial;
  }
  

  footer{
    min-height: 250px;
  }


  footer p{
    font-size: 2.3rem;
  }

  .grid-right img{
    width: 100px;
    height: 220px;
  }
  

  .imagenCentral img {
    width: 30vw;
    height: 40vh;
    margin-top: 2vh;
    max-height: 1000px;
    max-width: 1000px;
  }

  .subtitulo a,
  .subtitulo p {
    font-size: 4rem;
  }

  .elementosPortada img{
    width: 15vw;
    height: 23vw;
    margin: auto;
  }

  #textoPortada {
    font-size: 2rem;
    margin: auto;
  }

  .enlacesPaginas a {
    font-size: 3rem;
  }

  .parrafo {
    display: flex;
    margin: 1vh 10vw;
    font-size: 3rem;
  }

  .parrafo1 img {
    width: 35vw;
    height: 20vh;
    margin-top: 1vh;
    margin-right: 2vw;
  }

  .parrafo1 p {
    margin-top: 5vh;
  }

  .parrafo4 {
    display: initial;
    margin: 0 auto;
    font-weight: bold;
    font-style: italic;
  }

  .imagenAlumnos img {
    max-width: 1200px;
    min-height: 500px;
    height: 22vh;
  }

  .listaObras{
    margin-left: 20vw;
  }

  .parrafosObra{
    font-size: 2em;
    margin: 0 15vw 0 8vw;
  }

  .parrafosObra img{
    width: 12vw;
    height: 20vh;
  }

  .parrafosObra ul{
    margin-top: 3vh;
  }

  .parrafosObra .follasNovasImg{
    height: 25vh;
    width: 8vw;
  }

  .parrafosObra .orillasSarImg{
    width: 15vw;
    height: 20vh;
  }

  .enlaces{
    font-size: 2.2rem;
    margin: 15vh 15vw;
  }

  .obras #hamb.hamburger-menu {
    color:white;           
    background-color: rgb(98, 130, 199);   
    height: 60vh; 
  }

  #hamb.hamburger-menu aside ul li.current >span,
  #hamb.hamburger-menu aside ul li.current >a,
  #hamb.hamburger-menu aside ul li >span:hover,
  #hamb.hamburger-menu aside ul li >a:hover {
   color: white;               
   background-color: rgb(98, 130, 199);  
   }
}