@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Open+Sans:wght@300;400&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
  font-size: 10px;
  color: rgb(0, 0, 0);
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

.imagenCabecera {
  /*Elimina espacio en blanco entre imagen y h1*/
  font-size: 0px;
}

.imagenCabecera img {
  width: 100vw;
  height: 20vh;
  margin-bottom: 0;
}

.titulo {
  background-color: black;
  color: rgb(98, 130, 199);
  justify-content: center;
  display: flex;
  text-align: center;
}

.titulo .back {
  font-size: 3rem;
  float: left;
  width: 0px;
  margin-top: 1vh;
}

h1 {
  font-size: 4rem;
  display: inline-block;
  margin: 0 auto;
}


.imagenCentral {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.imagenCentral img {
  width: 60vw;
  height: 30vh;
}

.subtitulo {
  background-color: gray;
}

.fa {
  color: rgb(98, 130, 199);
}

.subtitulo a,
.subtitulo p {
  text-decoration: none;
  color: lightblue;
  font-size: 1.8rem;
  margin: 0 2vw;
}

.subtitulo a:hover {
  text-decoration: underline;
}

.imagenLibro {
  width: 30vw;
  height: 25vh;
  margin: 1.5vh 7vw 0;

}

#textoPortada {
  font-size: 1.4rem;
  margin: 0 15vw;
}

.parrafo {
  display: flex;
  margin: 1.5vh 5vw 1.5vh 2vw;
  font-size: 1.3rem;
}

.parrafo1 img {
  width: 30vw;
  height: 15vh;
  margin-top: 1vh;
  margin-right: 2vw;
}

.parrafo4 {
  display: initial;
  margin: 0 auto;
  font-weight: bold;
  font-style: italic;
}

.imagenAlumnos img {
  width: 80vw;
  height: 18vh;
}

.listaObras{
  font-size: 2.2rem;
  list-style-type: none;
  padding-left: 0;
}

.listaObras li{
  margin: 10vh 0;
}

.listaObras li a {
  text-decoration: none;
  color: rgb(98, 130, 199);
}

.listaObras li a:hover{
  background-color: lightgray;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  text-decoration: underline;
}

h2{
  font-size: 2.5rem;
}

.parrafosObra{
  font-size: 1.2rem;
  margin: 0 5vw;
}

.parrafosObra p{
  text-align: justify;
}

.parrafosObra img{
  width: 30vw;
  height: 20vh;
}

.parrafosObra ul{
  padding-left: 0;
  text-align: justify;
  margin-top: 2vh;
}

.parrafosObra li{
  margin-top: 1vh;
  margin-left: 3vw;
}

.parrafosObra .orillasSarImg{
  margin-top: 5vh;
  width: 40vw;
  height: 20vh;
}

.enlaces{
  text-align: left;
  font-size: 1.4rem;
  margin: 5vh 5vw;
}

.enlaces a{
  color: blue;
}

@media screen and (min-width: 1000px) {
  .imagenCabecera img {
    width: 100vw;
    height: 30vh;
    margin-bottom: 0;
  }

  .imagenCentral img {
    width: 20vw;
    height: 30vh;
    margin-top: 2vh;
  }

  .subtitulo a,
  .subtitulo p {
    font-size: 2.5rem;
  }

  .imagenLibro {
    width: 10vw;
    height: 25vh;
    margin: -15vh 0 0;
  }

  #Cantares {
    margin-right: 60vw;
  }

  #textoPortada {
    font-size: 2rem;
    margin: 6vh 15vw 0;
  }

  .enlacesPaginas a {
    font-size: 3rem;
  }

  .parrafo {
    display: flex;
    margin: 1vh 15vw 1vh 15vw;
    font-size: 2.5rem;
  }

  .parrafo1 img {
    width: 35vw;
    height: 20vh;
    margin-top: 1vh;
    margin-right: 2vw;
  }

  .parrafo1 p {
    margin-top: 5vh;
  }

  .parrafo4 {
    display: initial;
    margin: 0 auto;
    font-weight: bold;
    font-style: italic;
  }

  .imagenAlumnos img {
    width: 50vw;
    height: 30vh;
  }

  .parrafosObra{
    font-size: 2em;
    margin: 0 15vw;
  }

  .parrafosObra img{
    width: 12vw;
    height: 20vh;
  }

  .parrafosObra ul{
    margin-top: 3vh;
  }

  .parrafosObra .follasNovasImg{
    height: 25vh;
    width: 8vw;
  }

  .parrafosObra .orillasSarImg{
    width: 15vw;
    height: 20vh;
  }

  .enlaces{
    font-size: 2.2rem;
    margin: 15vh 15vw;
  }
}